<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/CSS/stylesNav.css">
    <link href="/CSS/stylesFooter.css" rel="stylesheet">
    <link href="/CSS/stylesHome.css" rel="stylesheet">
</head>
<body>
    <div class="pushFooter">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <img src="../IMG/logoTipo.png" alt="" id="logoNav">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/HTML/index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/HTML/saoPaulo.html">São Paulo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/HTML/rioDeJaneiro.html">Rio de Janeiro</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/HTML/minasGerais.html">Minas Gerais</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/HTML/sobrenos.html">Sobre nós</a>
                        </li>   
                       <div class="inNav">
                         
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/signup">Sign Up</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/home"><img src="/IMG/profile.png" alt=""></a>
                        </li> 
                            
                       </div>
        
                    </ul>
                </div>
            </div>
        </nav>


    <div class="section">
        <img src="/IMG/profile.png" alt="">
        <h1>Bem-vindo, <%= accountName %></h1>
        <a href="/">Ver opções de pousadas</a>
        <form action="/logout" method="POST">
            <button type="submit">Logout</button>
        </form>
    </div>


</div>
<div class="container my-5">
    <footer class="text-center text-lg-start text-white" style="background-color: #45526e">
        <div class="container p-4 pb-0">
            <section class="">
                <div class="row">
                    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">
                        Pousei
                        </h6>
                        <p>
                            A Pousei te ajuda a escolher a pousada ideal para você com base nas suas necessidades
                        </p>
                    </div>
                    <hr class="w-100 clearfix d-md-none" />
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Links</h6>
                        <p>
                            <a class="text-white" href="./index.html">Home</a>
                        </p>
                        <p>
                            <a class="text-white" href="./sobrenos.html">Sobre nós</a>
                        </p>
                    </div>

                    <hr class="w-100 clearfix d-md-none" />

                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">
                            Pousadas
                        </h6>
                        <p>
                            <a class="text-white" href="./saoPaulo.html">São Paulo</a>
                        </p>
                        <p>
                            <a class="text-white" href="./rioDeJaneiro.html">Rio de Janeiro</a>
                        </p>
                        <p>
                            <a class="text-white" href="./minasGerais.html">Minas Gerais</a>
                        </p>
                    </div>

                    <hr class="w-100 clearfix d-md-none" />

                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Contato</h6>
                        <p><i class="fas fa-home mr-3"></i> São Paulo, SP 12345, BR</p>
                        <p><i class="fas fa-envelope mr-3"></i> pouseipousadas@gmail.com</p>
                        <p><i class="fas fa-phone mr-3"></i> +55 (11) 91234-6578</p>
                    </div>
                </div>
            </section>
            <hr class="my-3">

            <section class="p-3 pt-0">
                <div class="row d-flex align-items-center">

                    <div class="col-md-7 col-lg-8 text-center text-md-start">
                        <div class="p-3">
                            © 2024 Copyright:
                            <a class="text-white" href="./index.html">
                                Pousei.com
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>

